---
import Layout from "../layouts/Layout.astro";
import MyToolsCarrousel from "../components/MyToolsCarrousel.astro";
import RightArrow from "../icons/next-arrow.astro";
import GmailIcon from "../icons/gmail.astro";
import WhatsappIcon from "../icons/whatsapp.astro";
import GithubIcon from "../icons/github-contact.astro";

const contactos = [
	{
		Icon: GmailIcon,
		info: "matisalinas1602@gmail.com"
	},
	{
		Icon: WhatsappIcon,
		info: "+542617240650",
	},
	{
		Icon: GithubIcon,
		info: "https://github.com/Matisalinas23"
	}
]
---

<Layout>
	<main class="h-full flex flex-col items-center justify-center">
		<section class="relative w-80 sm:w-140 2xl:w-200 flex flex-col justify-center gap-8 sm:gap-12 2xl:gap-16">
			<h1 class="text-xl font-semibold sm:text-3xl 2xl:text-5xl">Hola, soy Matias</h1>
			<div class="flex items-center gap-4">
				<picture class="w-30 h-30 sm:w-44 sm:h-44 2xl:h-50 2xl:w-50 flex justify-center">
					<img
						src="/images/perfil.png"
						alt="Imagen Predeterminada"
						class="h-full"
					/>
				</picture>
				<div class="flex-1 flex flex-col gap-12">
					<p class="text-[12px] sm:text-sm 2xl:text-lg w-full max-h-40 pr-4 overflow-y-auto xl:max-h-50">
						Hace no mucho, comencé mi aprendizaje en desarrollo web, y
						poco después, me di cuenta cuánto me gustaba trabajar en aplicaciones.
						<br /><br />
						Mi perfil se enfoca en el frontend, pero tengo conocimientos
						básicos de backend con <b class="font-medium">NodeJS</b> y <b class="font-medium">Prisma</b>.
						<br><br>
						Lo que mas disfruto de la programación es el orden en el codigo, que sea facilmente legible, y que los componentes
						y pantallas esten correctamente ordenados.
					</p>
				</div>
			</div>

			<MyToolsCarrousel />

			<div class="w-full flex justify-center">
				<button class="button-next relative overflow-hidden border w-52 h-9 2xl:w-64 2xl:h-12 text-white rounded-2xl
				cursor-pointer flex items-center"
				>
					<a class="text-sm 2xl:text-lg flex-1 z-10 text-center" href='/projects'>
						PROYECTOS
					</a>

					<div class="right-0 w-10 2xl:w-12 border-l p-3 text-white z-10">
						<RightArrow />
					</div>
				</button>
			</div>
		</section>

		<div class="absolute bottom-0 py-6 sm:text-sm 2xl:text-[16px] text-white/70 flex flex-col gap-2 sm:gap-8 justify-between sm:flex-row">
				{contactos.map((c) => (
					<div class="flex items-center gap-2">
						<div class="h-6 w-6 sm:h-7 sm:w-7 2xl:w-8 2xl:h-8">
							<c.Icon />
						</div>
						{c.info}
					</div>
				))}		
			</div>
	</main>
</Layout>

<style>
	.button-next::before {
		content: "";
		position: absolute;
		inset: 0;
		transform: translateX(-100%);
		background: linear-gradient(
			150deg,
			rgb(48, 11, 136) 0%,
			rgb(69, 20, 184) 60%
		);
		transition: transform .35s ease;
		z-index: 0;
	}

	.button-next:hover::before {
		transform: translateX(0);
	}
</style>