---
import ReactIcon from "../icons/react.astro";
import AstroIcon from "../icons/astro.astro";
import NextIcon from "../icons/next.astro";
import TailwindIcon from "../icons/tailwind.astro";
import PrismaIcon from "../icons/prisma.astro";
import NodeIcon from "../icons/node.astro";

const myTools = [
  {
    name: "React",
    link: "https://reactjs.org/",
    icon: ReactIcon,
  },
  {
    name: "Astro",
    link: "https://astro.build/",
    icon: AstroIcon,
  },
  {
    name: "Tailwind",
    link: "https://tailwindcss.com/",
    icon: TailwindIcon,
  },
  {
    name: "Next",
    link: "https://nextjs.org/",
    icon: NextIcon,
  },
  {
    name: "Node",
    link: "https://nodejs.org/es",
    icon: NodeIcon,
  },
  {
    name: "Prisma",
    link: "https://www.prisma.io",
    icon: PrismaIcon,
  },
];
---

<div class="w-full pl-24 pr-2 pb-2 sm:pl-0 sm-pr-0 sm:pb-2 sm:pt-2 overflow-y-auto flex justify-center gap-14 items-center ">
    {myTools.map((t) => {
        return (
            <a
            href={t.link}
            class="text-sm 2xl:text-lg flex flex-col items-center gap-2 duration-200 cursor-pointer hover:scale-110"
            >
                <div class="w-10 h-10 2xl:w-14 2xl:h-14 flex items-center justify-center">
                    <t.icon />
                </div>
                {t.name}
            </a>
        );
    })}
</div>
